version: "3"
services:

  # samba:
  #   image: dperson/samba
  #   ports:
  #     - "137-139"
  #     - "445"
  #   volumes:
  #     - /mnt/storage:/mount
  #   command: -nS -u "justin;59nv7dfs83" -u "ayy-lmao;qpgtxu5me8" -s "files;/mount/files/;;no;no;all;justin,ayy-lmao" -s "ayy-lmao_backup;/mount/backups/current/ayy-lmao;;no;no;ayy-lmao;ayy-lmao" -w "WORKGROUP" -g "log level = 1" -g "client min protocol = SMB3"

  home-assistant:
    image: homeassistant/home-assistant
    volumes:
      - /services/home-assistant:/config
      - /etc/localtime:/etc/localtime:ro
    network_mode: "host"

  # sftp:
  #   image: atmoz/sftp
  #   ports:
  #     - "2222:22"
  #   volumes:
  #       - /services/sftp/ssh_host_ed25519_key:/etc/ssh/ssh_host_ed25519_key
  #       - /services/sftp/ssh_host_rsa_key:/etc/ssh/ssh_host_rsa_key
  #       - /services/sftp/id_lappy.pub:/home/files/.ssh/keys/id_lappy.pub:ro
  #       - /services/sftp/id_phone.pub:/home/files/.ssh/keys/id_phone.pub:ro
  #       - /mnt/storage/files:/home/files
  #   command: files::100

  unifi:
    image: goofball222/unifi
    network_mode: "host"
    ports:
      - "3478:3478/udp"
      - "6789:6789"
      - "8080:8080"
      - "8443:8443"
      - "8880:8880"
      - "8843:8843"
      - "10001:10001/udp"
    volumes:
      - /services/unifi/cert:/usr/lib/unifi/cert
      - /services/unifi/data:/usr/lib/unifi/data
      - /services/unifi/logs:/usr/lib/unifi/logs

  wikidb:
    image: mongo
    expose:
      - '27017'
    command: '--smallfiles --bind_ip wikidb'
    environment:
      - 'MONGO_LOG_DIR=/dev/null'
    volumes:
      - /services/wiki/mongo:/data/db
  wikijs:
    image: 'requarks/wiki:latest'
    links:
      - wikidb
    depends_on:
      - wikidb
    ports:
      - '80:3000'
    environment:
      WIKI_ADMIN_EMAIL: admin@example.com
    volumes:
      - /services/wiki/config.yml:/var/wiki/config.yml
      - /services/wiki/id_rsa:/var/wiki/id_rsa
